:root {
    --primary: #1E1E1E ;
    --secondary: #282828;
    --color-selected: #333333;
    
    /*
    --primary-card-convert: #191b1f;
    --secondary-card-convert: #212429;
    */

    --primary-card-convert: #191b1f;
    --secondary-card-convert: #212429;
    
    --color-font-primary: rgb(197, 197, 197);
    --color-font-strong: rgb(230, 230, 230);
    font-family: "Roboto";
    font-size: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

/* ==================================== */
/* ESTRUTURA DA PAGINA*/
/* ==================================== */  

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;
    grid-template-areas:
    "SIDEBAR MAIN"
    "SIDEBAR MAIN"
    "SIDEBAR MAIN";
}

/* ==================================== */
/* SIDEBAR */
/* ==================================== */ 

.l-sidebar {
    height: 100vh;
    background: var(--secondary);
}

.logotipo {
    margin: 20px auto 0 auto;
    height: 10vh;
    width: 100%;
}

.menu {
    list-style: none;
    margin: 40px 20px 0px 20px;
}

.menu__item {
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
}

.menu__item--selected{
    background: var(--primary);
}

.menu__item:hover .menu__link {
    color: var(--color-font-strong);
}

.menu__link {
    color: var(--color-font-primary);
    display: flex;
    align-items: center;
    gap: 0 15px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    padding: 0 30px;
}

/* ==================================== */
/* MAIN HEADER CATEGORIES CRYPTOGAMES */
/* ==================================== */

main {
    height: 100vh;
    width: 85vw;
    background: var(--primary);
}

.l-header {
    width: 85vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    box-sizing: border-box;
    padding: 0 45px;
    gap: 0 40px;
}

.header__widgets {
    display: flex;
    overflow: hidden;
    position: relative;
}

.header__input {
    height: 40px;
    width: 100px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    background: var(--secondary);
    color: var(--color-font-primary);
    position: relative;
}

.header__arrow {
    height: 100%;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background: linear-gradient(
        to right,
        transparent 0%,
        var(--primary) 40%
    );
    cursor: pointer;
    position: absolute;
    touch-action: pan-x;
}

.arrow-left {
    display: none;
    z-index: 2;
    transform: rotateY(180deg);
    left: 0;

}

.arrow-right {
    z-index: 2;
    right: 0;
}

.header__arrow svg {
    transform: translate(50%, 0);
    height: 15px;
    position: absolute;
    pointer-events: none;
}

.header__categories {
    white-space: nowrap;
    overflow-x: scroll;
}


.header__lista {
    overflow: hidden;
    list-style: none;
    display: flex;
    gap: 0 10px;
    align-items: center;
    flex-direction: row;
}

.header__categories::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.header__item {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-radius: 25px;
    font-size: 0.9rem;
    cursor: pointer;
}

.header__item--style{
    color: var(--color-font-primary);
    background: var(--color-selected);
}

/* ==================================== */
/* MAIN SECTION CRYPTOGAMES */
/* ==================================== */

.section__cryptogames {
    width: 85vw;
    height: 85vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.section__cryptogames::-webkit-scrollbar {
    width: 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 42px 42px;
    padding: 45px 45px;
}
  
.scene {
    width: 180px;
    height: 130px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    height: 100%;
    width: 100%;
    position: absolute;
    color: var(--color-font-primary);
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    pointer-events: none;
}

.card__face img {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__name {
    position: absolute;
    font-size: 20px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 35px);
}

.card__footer {
    position: absolute;
    background: var(--color-selected);
    font-size: 18px;
    width: 100%;
    bottom: 0;
    height: 35px;
    line-height: 35px;
    border-radius: 0px 0px 25px 25px;
}

.card__face--front, .card__face--back{
    background: #282828;
    border-radius: 25px;
    border: 1px solid rgba(95, 95, 95, 0.2);
}

.card__face--back {
    transform: rotateY(180deg);
}

.card__face--back div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.card__face--back div span {
    font-size: 16px;
    color: var(--color-font-primary);
}

/* ==================================== */
/* MAIN SECTION CONVERT */
/* ==================================== */

.section__convert {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-card {
    display: grid;
    grid-template: 50px 1fr 50px/ 1fr;
    align-items: center;
    width: 480px;
    height: 300px;
    background: var(--primary-card-convert);
    border-radius: 25px;
}

.box-card .title{
    padding: 10px 0px 0px 20px;
}

.title span {
    color: var(--color-font-primary);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

.content-swap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.token_1, .token_2 {
    display: flex;
    width: 100%;
    background: var(--secondary-card-convert);
    border-radius: 20px;
    border: 1px solid rgb(44, 47, 54);
}

.token_1:hover, .token_2:hover {
    border: 1px solid rgb(66, 67, 73);
}

.entries-inputs {
    display: flex;
    flex: 1 1 auto;
    width: 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 35px 20px;
}

.button-dropdown:hover .dropdown{
    display: block;
}

.button-dropdown button{
    background: var(--primary-card-convert);
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0px 10px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-font-primary);
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
}

.button-dropdown button:hover {
    background-color: rgb(44, 47, 54);
}

.dropdown {
    display: none;
    border-radius: 16px;
    position: absolute;
    background: var(--primary-card-convert);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown span{
    display: flex;
    color: var(--color-font-primary);
    text-decoration: none;
    align-items: center;
    width: 90px;
    font-weight: 500;
    padding: 5px 6px;
    font-size: 16px;
}

.result {
    display: block;
    z-index: 1;
}

.token_found {
    display: flex;
}

.token_found img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.token_found span {
    width: 50px;
}

.dropdown .token {
    display: flex;
    align-items: center;
}

#search svg {
    height: 60%;
    width: 60%;
    display: flex;
}

#search input {
    display: flex;
    height: 30px;
    color: var(--color-font-primary);
    text-align: left;
    background: none;
    font-size: 16px;
    outline: none;
}

.dropdown span:hover {
    cursor: pointer;
    background-color: rgb(44, 47, 54);
    border-radius: 16px;
}

.button-dropdown button img{
    margin-right: 5px;
    border-radius: 50%;
}

.button-dropdown button svg {
    fill: var(--color-font-primary);
    width: 24px;
    height: 24px;
    padding: 0px 5px;
}

.entries-inputs input {
    border: medium none;
    outline: currentColor none medium;
    text-align: right;
    overflow: hidden;
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 24px;
    padding: 0px;
    margin-left: 15px;
    color: var(--color-font-primary);
    background: var(--secondary-card-convert);
}

.output {
    position: relative;
    color:var(--color-font-strong);
}

.icon-swap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: -13.5px 0px;
    position: relative;
    background-color: var(--secondary-card-convert);
    border: 3px solid rgb(25, 27, 31);
    border-radius: 11px;
}

.icon-swap svg {
    fill: var(--color-font-primary);
    height: 17px;
    width: 17px;
}

.icon-swap svg:hover {
    fill: var(--color-font-strong);
}

#btn-send {
    justify-self: center;
    height: 40px;
    width: 200px;
    background: var(--secondary-card-convert);
    border-radius: 15px;
    border: none;
}

#btn-send:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#btn-send span {
    color: var(--color-font-primary);
    font-size: 20px;
}

#btn-send:hover span {
    color: var(--color-font-strong)
}