<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'imports.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Helping people understand more about cryptocurrencies">
    <title>app convert</title>

</head>

<body>
    <div class="container">
        <sidebar class="l-sidebar">
            <img class="logotipo" src="{{ url_for('static', filename='images/logos/logotipo.png') }}" width="163px"
                hwight="65px" alt="logotipo">
            <ul class="menu">
                <li class="menu__item">
                    <a class=" menu__link" href="/convert">Convert</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/cryptogames">Games</a>
                </li>
            </ul>
        </sidebar>
        <main class="l-main">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>