<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Helping people understand more about cryptocurrencies">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>app convert</title>

</head>

<body>
    <div class="container">
        <sidebar class="l-sidebar">
            <img class="logotipo" src="{{ url_for('static', filename='images/logos/logotipo.png') }}" alt="logotipo">
            <ul class="menu">
                <li class="menu__item menu__item--selected">
                    <a class=" menu__link" href="#">Convert</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Defi</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Games</a>
                </li>
            </ul>
        </sidebar>
        <main class="l-main">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>